.inputDiv1{
  font-size: 1.5rem;
  height: 4rem;
  line-height: 4rem;
}

.text{
  margin-left: 2rem;
  color: black;
}
.line1{

  -webkit-transform: scaleY(1);
  -webkit-transform-origin:0 0;
  overflow: hidden;
  border-bottom: 1px solid  #F5F5F9;

}
.line2{
  margin-top:1px;
  -webkit-transform: scaleY(1);
  -webkit-transform-origin:0 0;
  overflow: hidden;
  border-bottom: 1px solid  #F5F5F9;
}


.top{
  margin-top: 7.5rem;
}

.title{
  margin-top: 70%;
  text-align: center;
  font-size:2.1rem;
  color:gray;
}
.spin{
  text-align: center;
}
