.root{
  background-color: #F5FCFF;
}
.bodyDiv{
  height: calc(4.5rem + 20px);
}
.inputDiv{
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #ffffff;
  height: 44px;
  border-bottom: #e5e5e5 solid 1px;
  padding-left: 12px;
}
.inputName{
  font-size: 16px;
  color: #000000;
}
.input{
  outline: none;
  border: none;
  font-size: 16px;
}
.btnDiv{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ED5565;
  height: 40px;
  width:80%;
  margin-left: 10%;
  border-radius: 8px;
  margin-top: 20px;
}
.btnText{
  font-size: 16px;
  color: #FFFFFF;
}
