.circle1 {
  margin-top: 0.3rem;
  border:1px solid  #ED5565;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
}
.circle2 {
  border-radius: 50%;
  background-color: #ED5565;
  margin-left: 15%;
  margin-top: 17%;
  width: 0.7rem;
  height: 0.7rem;
}
.circle3 {
  margin-top: 0.2rem;
  border:1px solid  #c8c7cc;
  border-radius: 50%;
  width: 1.2rem;
  height: 1.2rem;
}
.circle4 {
  margin-top: 0.19rem;
  margin-left: 0.19rem;
  border:1px solid  white;
  background-color: white;
  border-radius: 50%;
  width: 0.7rem;
  height: 0.7rem;
}
.radio{
  margin-left:40%;
}
